.gcloudignore
.git
.gitignore
**/node_modules/
.lage/
.yarn/cache/
.yarn/install-state.gz
packages/desktop-client/build/
packages/desktop-client/dist/
packages/desktop-client/lib-dist/
packages/desktop-electron/build/
packages/desktop-electron/dist/
packages/desktop-electron/lib-dist/
packages/sync-server/build/
packages/sync-server/dist/
packages/sync-server/lib-dist/
packages/api/build/
packages/api/dist/
packages/api/lib-dist/
packages/crdt/build/
packages/crdt/dist/
packages/crdt/lib-dist/
packages/component-library/build/
packages/component-library/dist/
packages/component-library/lib-dist/
